body
{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(121,32,153,1) 86%);
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#form
{
    background-color: whitesmoke;
    border-radius: 20px;
    min-width: 200px;
    padding: 30px;
}
h1
{
    color:#792090;
    text-align: center;
}
input
{
    border-radius: 5px;
    padding: 6px;
    font-size: 18px;
    border: 1px solid rgb(34,193,195);
}
.input-group
{
    display: flex;
    flex-direction: column;
}
.input-group input:focus
{
    outline: none;
}
.input-group .error 
{
    color: rgb(242, 18, 18);
    padding-top: 5px;
    font-size: 18px;
}
.input-group.success input
{
    border-color: #0cc477;
}
.input-group .error input
{
    border-color: rgb(206,67,67);
}
label
{
    padding: 10px 0;
    font-size: 17px;
}
button
{
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    border: none;
    background-color: #9d1ebc;;
    color: white;
    margin-top: 15px;
    font-size: 1.5em;
    cursor: pointer;
}
@media  (min-width:1024px)
{
    #form
{
    width:400px;
    background-color: whitesmoke;
    border-radius: 20px;
    padding:30px;
}
}